#about-section{
  padding: 0px;
}
#products-section{
  padding: 0px;
}

#making-section{
  padding: 0px;
}
#contact-section{
  padding: 0px;
}
#about-logo{
  width: 200px;
  max-width: 150%;
  height: auto;
}
@media screen and (max-width: 768px) {
  #about-logo {
    width: 100%;
    margin: 0 auto;
  }
}